html {
  min-height: 100%;
}

body {
  font-family: 'Bubbler One', sans-serif;
  color: white;
  background-repeat: no-repeat;
}

.ui-effects-wrapper {
    display:block;
}

#grad {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2A0881, black 34%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2A0881, black 34%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2A0881, black 34%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2A0881, black 34%); /* Standard syntax */
}

img {
  max-width: 75%;
  max-height: 95%;
}

#resumeOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}

.circles{
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.circle {
  display: block;
  border-radius: 50%;
  width: 3px;
  height: 300px;
  background-color: white;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

#circle1 {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

#circle2 {
  height: 200px;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
}

#circle3 {
  height: 250px;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

#circle4 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
}

#circle5 {
  margin: 8px;
  height: 270px;
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg);
}

#circle6 {
  height: 200px;
    -ms-transform: rotate(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
    transform: rotate(6deg);
}

#circle7 {
  margin: -4px;
  height: 270px;
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}

#circle8 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

#circle9 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

#circle10 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(13deg); /* IE 9 */
    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
    transform: rotate(13deg);
}

#circle11 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Chrome, Safari, Opera */
    transform: rotate(11deg);
}
#circle12 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}
#circle13 {
  margin: -10px;
  height: 270px;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}
#circle14 {
  margin: 16px;
  height: 270px;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}

.overlay-content {
  width: inherit%;
  height: inherit%;
  padding: 40px;
  margin: 50px auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #FFFFFF;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#content {
  background-color: transparent;
  width: 100%;
  margin: 120px auto;
  padding: 30px;
}

h1 {
  font-style: thin;
  margin-top: 150px;
  font-size: 150px;
  text-align: center;
}

#h1-div {
  height: 100vh;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}


h1, h2 {
  color: white;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #ffffff;
}

#project-list {
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

.project {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 140px;
  margin-bottom: 10px;
  background-color: #7AA3CC;
  transition: 0.2s background-color;
}

.project:hover {
  background-color: #0066CC;
}
