html {
  min-height: 100%;
}

#centered {
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  font-style: thin;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 85px;
  text-align: center;
  letter-spacing: 5px;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Bubbler One', sans-serif;
  color: white;
  background-repeat: no-repeat;
}

.shake-slow {
	@include do-shake($name: 'shake-slow',
                    $h: 40px,
                    $v: 40px,
                    $r: 10deg,
                    $dur: 1000ms,
                    $precision: 1,
                    $opacity: true,
                    $q: infinite,
                    $t: ease-in-out,
                    $chunk: 100%);
}

.shake-chunk {
	@include do-shake('shake-chunk', 40, 40, 20, 100ms, .1, $opacity: true);
}

.ui-effects-wrapper {
    display:block;
}

#grad {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2A0881, black 34%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2A0881, black 34%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2A0881, black 34%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2A0881, black 34%); /* Standard syntax */
}

/*.division {
  display: flex;
  justify-content: space-between;
}*/

img {
  max-width: 75%;
  max-height: 95%;
}

a:link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:visited {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    color: white;
    font-size: 16px;
}

a:active {
    text-decoration: underline;
    color: white;
    font-size: 16px;
}
/*#ca { background-image: url("./images/ace_of_clubs.png"); }*/
#resumeOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}

.circles{
  max-width: 95%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.circle {
  border-radius:20%;
  display: block;
  /*border-radius: 50%;*/
  width: 6px;
  height: 300px;
  background-color: white;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  opacity: 0.3;
}

#circle1 {
  height: 50px;
  margin-top: 135px;
  /*  -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);*/
}

#circle2 {
  height: 60px;
  margin-top: 130px;
    /*-ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); */
}

#circle3 {
  height: 70px;
  margin-top: 125px;
    /*-ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); */
}

#circle4 {
  height: 80px;
  margin-top: 120px;

    /*-ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); */
}

#circle5 {
  height: 90px;
  margin-top: 115px;

    /*-ms-transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg); */
}

#circle6 {
  height: 100px;
  margin-top: 110px;
    /*-ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); */
}

#circle7 {
  height: 110px;
  margin-top: 105px;
    /*-ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); */
}

#circle8 {
  height: 120px;
  margin-top: 100px;
    /*-ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); */
}

#circle9 {
  height: 130px;
  margin-top: 95px;
    /*-ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); */
}

#circle10 {
  height: 140px;
  margin-top: 90px;
    /*-ms-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg); */
}

#circle11 {
  height: 150px;
  margin-top: 85px;
    /*-ms-transform: rotate(11deg);
    -webkit-transform: rotate(11deg);
    transform: rotate(11deg); */
}
#circle12 {
  height: 160px;
  margin-top: 80px;
    /*-ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); */
}
#circle13 {
  height: 170px;
  margin-top: 75px;
    /*-ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); */
}
#circle14 {
  height: 180px;
  margin-top: 70px;
    /*-ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);*/
}

#circle15 {
  height: 190px;
  margin-top: 65px;
}

#circle16 {
  height: 200px;
  margin-top: 60px;
}

#circle17 {
  height: 210px;
  margin-top: 55px;
}

#circle18 {
  height: 220px;
  margin-top: 50px;
}
#circle19 {
  height: 230px;
  margin-top: 45px;
}

#circle20 {
  height: 240px;
  margin-top: 40px;
}

#circle21 {
  height: 250px;
  margin-top: 35px;
}

#circle22 {
  height: 260px;
  margin-top: 30px;
}
#circle23 {
  height: 270px;
  margin-top: 25px;
}
#circle24 {
  height: 280px;
  margin-top: 20px;
}
#circle25 {
  height: 290px;
  margin-top: 15px;
}
#circle26 {
  height: 300px;
  margin-top: 10px;
}
#circle27 {
  height: 310px;
  margin-top: 5px;
}
#circle28 {
  height: 320px;
}

.overlay-content {
  width: inherit%;
  height: inherit%;
  padding: 40px;
  margin: 50px auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #FFFFFF;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#content {
  background-color: transparent;
  width: 100%;
  margin: 12px auto;
  padding: 30px;
}

h1 {
  font-style: thin;
  margin-top: 125px;
  font-size: 105px;
  text-align: center;
  letter-spacing: 7px;
}

#h1-div {
  height: 100vh;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}


h1, h2 {
  color: white;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #ffffff;
}

#project-list {
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

.project {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 140px;
  margin-bottom: 10px;
  background-color: #7AA3CC;
  transition: 0.2s background-color;
}

.project:hover {
  background-color: #0066CC;
}
