body {
  font-family: 'Bubbler One', sans-serif;
  color: white;
}

#grad {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2A0881, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2A0881, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2A0881, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2A0881, black); /* Standard syntax */
}

img {
  max-width: 75%;
  max-height: 95%;
}

#resumeOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}

.circles{
  display: flex;
  justify-content: space-between;
}

.circle {
  border-radius: 50%;
  width: 5px;
  height: 200px;
  background-color: white;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

#circle1 {
}

.overlay-content {
  width: inherit%;
  height: inherit%;
  padding: 40px;
  margin: 50px auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #FFFFFF;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#content {
  width: 80%;
  margin: 120px auto;
}

h1 {
  margin-top: 200px;
  font-size: 150px;
  text-align: center;
}

#h1-div {
  height: 100vh;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}


h1, h2 {
  color: white;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #0066CC;
}

#project-list {
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

.project {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 140px;
  margin-bottom: 10px;
  background-color: #7AA3CC;
  transition: 0.2s background-color;
}

.project:hover {
  background-color: #0066CC;
}
